@use "../../config/styleVariable.scss" as vars;

.Header-container {
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  @media (max-width: 767px) {
    padding: 0 10px;
  }
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid vars.$grey3;
  padding: 8px 0;
  @media (max-width: 767px) {
    padding: 10px 5px;
  }
}

.Header-sectionBox {
  // padding: 35px 20px;
  // @media (max-width: 767px) {
  //   padding: 57px 20px;
  // }
}

.Header-Box {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  flex-wrap: nowrap;
  @media (max-width: 1024px) {
    flex-wrap: wrap;
    row-gap: 12px;
  }
  @media (max-width: 767px) {
    gap: 10px;
  }
}

.Header_logoBox {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 35px;
  font-family: vars.$Bold;
  color: #000;
  text-decoration: none;
  margin-right: 10px;
  @media (max-width: 767px) {
    flex: 1;
    padding-left: -10px;
    font-size: 22px;
    margin-right: 0px;
  }
}

.Header_logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 5px;
  overflow: hidden;
  @media (max-width: 767px) {
    width: 30px;
    height: 30px;
  }
}

.Header-location {
  cursor: pointer;
  &.desktop {
    padding: 0px 10px;
    flex: 0 0 auto;
    min-width: 180px;
    @media (max-width: 1024px) {
      flex: 1;
      min-width: auto;
    }
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.Header-locationBox {
  display: flex;
  flex-direction: column;
  @media (max-width: 767px) {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

.Header-locationBox2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: gray;
}

.Header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex: 0 0 auto;
  &.desktop {
    padding: 0px 10px;
    @media (max-width: 767px) {
      display: none; // Hide desktop on mobile
    }
    @media (max-width: 820px) {
      flex: 1;
    }
  }
  &.mobile {
    overflow: hidden;
    @media (min-width: 768px) {
      display: none; // Hide mobile on desktop
    }
    @media (max-width: 820px) {
      display: flex;
    }
  }
}

.Header-sellerCTA {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  @media (max-width: 767px) {
    display: none;
  }
}

.Header-sellerCTA-mobile {
  display: none;
  padding: 0 15px 10px;
  @media (max-width: 767px) {
    display: block;
  }
}

.Header-sellerBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: vars.$SemiBold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 999px;
  justify-content: center;
  width: 100%;
  @media (min-width: 768px) {
    width: auto;
  }
}

.Header-sellerBtn-text {
  white-space: nowrap;
  font-size: 14px;
}

.Header-Text1 {
  font-size: 16px;
  font-family: vars.$Bold;
}

.Header-Text2 {
  font-size: 14px;
  font-family: vars.$Bold;
}

.Header-Text3 {
  font-size: 14px;
  color: gray;
  font-family: vars.$Regular;
  width: 10vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (max-width: 767px) {
    flex: 1;
  }
}

.Header-text3 {
  font-family: vars.$SemiBold;
  font-size: 16px;
  max-width: 45px;
  overflow: hidden;
  @media (max-width: 767px) {
    display: none; // Hide mobile on desktop
  }
}

.Header-search {
  cursor: pointer;
  width: 100%;
  &.desktop {
    flex: 1 1 320px;
    position: relative;
    min-width: 250px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &.mobile {
    display: none;
    flex: 1;
    padding: 10px;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &.tablet {
    display: none;
    flex: 1;
    padding: 10px;
  }

  @media (max-width: 991px) {
    &.desktop {
      display: none;
    }
    &.tablet {
      display: block;
    }
  }

  @media (max-width: 767px) {
    &.tablet {
      display: none;
    }
    &.mobile {
      display: block;
    }
  }
}

.Header-search-suggestions {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  border-radius: 10px;
  margin-top: 1px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid rgb(238, 238, 238);
  @media (max-width: 767px) {
    width: 95%;
  }
}

.Header-LocationModal-box {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Header-LocationModal-box2 {
  background-color: #f5f5f5;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  color: vars.$primary;
}

.Header-deskCateogrey {
  height: 40px;
  width: 100%;
  margin-top: -6px;
  box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.032);
  transition: 0.3s;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid rgb(244, 244, 244);
}
.Header-deskCatItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: vars.$Bold;
  margin-right: 30px;
  padding-top: 9px;
  font-size: 14px;
  // border-bottom: 2px solid #fff;
  line-height: 32px;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: vars.$primary;
    left: 0;
    position: absolute;
    bottom: 0;
    transition: transform 0.2s ease;
    transform-origin: center;
    transform: scaleX(0);
  }
  &:hover {
    &::after {
      transform: scaleX(1);
    }
    color: vars.$primary;
    cursor: pointer;
  }
  @media (max-width: 1200px) {
    font-size: 12px;
  }
  &.active {
    color: vars.$primary;
    border-bottom: 2px solid vars.$primary;
    &::after {
      content: "";
      width: 100%;
      height: 0px;
    }
  }
}

.Header-deskcat-2 {
  display: flex;
  align-items: center;
  flex: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.Header-deskCatItemtxt1 {
  font-family: vars.$Bold;
  font-size: 25px;
}

.Header-deskCatItemline {
  margin: 10px;
  margin-left: 0px;
  height: 3px;
  background-color: rgb(231, 231, 231);
  width: 30%;
}

.Header-deskCatItemBox {
  border-left: 1px solid rgb(221, 221, 221);
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Header-deskCatItemImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: #eeeeee;
}

.Header-deskCatItemtxt2 {
  font-family: vars.$Medium;
  font-size: 14px;
  color: rgb(83, 83, 83);
}
.Header-deskCatItem3 {
  width: 100%;
  min-width: 50px;
  font-family: vars.$SemiBold;
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 3px;
  cursor: pointer;
  text-transform: capitalize;
  &:hover {
    color: vars.$primary;
    background-color: rgb(237, 237, 237);
  }
}

.Header-ProfileImag {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 1px;
  margin-right: -10px;
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    height: 39px;
    width: 39px;
    margin-right: 0px;
  }
}

.profileMenu-mobileCTA {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;

  @media (max-width: 767px) {
    display: flex;
  }
}

.Header-desk-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  padding: 9px 15px;
  font-family: vars.$Bold;
  font-size: 15px;
  border-radius: 8px;
  border-color: #d9d9d9;
  text-transform: capitalize;
  &:hover {
    color: vars.$primary;
    cursor: pointer;
  }
}
.Header-deskactive {
  border-radius: 8px;
  color: vars.$primary;
  cursor: pointer;
}


.profileMenu-Box1 {
  padding: 4px;
}
.profileMenu-Box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  padding-right: 50px;
  border-radius: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  &:hover {
    background-color: #ededed;
  }
}
.profileMenu-Txt1 {
  font-family: vars.$Medium;
  font-size: 14px;
  padding-right: 5px;
}
.profileMenu-Img1 {
  margin-right: 15px;
  color: grey;
}
.profileMenu-Icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(244, 244, 244);
}
