@use "../../../../config/styleVariable.scss" as global;
.ImagePicker-Box {
  width: 100%;
  height: 100%;
  border: 1.5px dashed global.$grey2;
}
.ImagePicker-Box2 {
  width: 100%;
  height: 100%;
}
.ImagePicker-Box3 {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover{
    background-color: rgb(240, 240, 240);
  }
}
.ImagePicker-Box4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ImagePicker-txt1 {
  font-size: 16px;
  font-family: global.$Medium;
  text-align: center;
}
.image_picker{
  cursor: pointer;
  &:hover{
    
  }
}
